$primary: #A2DFDF
$primary-dark: #3DC4C2
$secondary: #7473E1
$green: #0D6461

*
    padding: 0
    margin: 0
    outline: none
    text-decoration: none
body
    font-family: 'Quicksand'
    background-color: $secondary

.nav-bar
    background-color: white
    box-shadow: 0 0 40px #00000020
    z-index: 1000
    .nav-container
        display: flex
        justify-content: center
    .nav-title
        font-size: 18px
        color: $green
        padding: 30px 48px
    .nav-action-group
        display: flex
        font-size: 14px
        font-weight: 500
        margin-right: 64px
        margin-left: auto
        list-style: none
        align-items: center 
        li
            padding: 30px 16px

    button
        background-color: $secondary
        color: white
        padding: 30px 48px
        margin: 0
        border: none

.header
    width: 100vw
    height: 70vh
    background-image: linear-gradient(to right, $primary, $primary-dark)
    z-index: -3
    .header-text
        font-size: 72px
        color: $green
    .head-text-group
        padding: 90px
        margin-top: auto
        margin-bottom: auto
    button
        background-color: white
        border: none
        margin-top: 10px
        padding: 10px 16px
        border-radius: 9999px

.main
    background-color: white
    padding: 42px
    .header-center
        text-align: center
    .services-container
        display: grid
        grid-template-columns: 200px 200px 200px
        grid-gap: 10px
        padding-top: 20px
        width: 100vw
        margin-left: auto
        margin-right: auto
        .service-item
            background-color: #f8f8f8
            box-shadow: 0 0 10px #00000012
            padding: 20px 0
            transition: all .4s ease-in-out
            &:hover
                background-color: $primary-dark
                color: white
                transition: all .4s ease-in-out
            &:hover .icon
                transition: all .4s ease-in-out
                color: white
            .service-info
                padding: 12px 0
                text-align: center
            .icon
                width: 48px
                color: #6f6f6f
                display: block
                margin-left: auto
                margin-right: auto
                text-align: center